# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debian packaging output
/debian/.debhelper
/debian/debhelper-build-stamp
/debian/files
/debian/znc-clientbuffer.debhelper.log
/debian/znc-clientbuffer.substvars
/debian/znc-clientbuffer/
